<div *ngIf="visible()" class="city-switcher" [class.inline]="variant() === 'inline'" aria-label="City switcher">
  <select
    class="city-select"
    [ngModel]="cityContext.cityId()"
    (ngModelChange)="cityContext.setCityId($event)"
  >
    <ng-container *ngIf="cities.list().length; else loading">
      <option *ngFor="let c of cities.list()" [value]="c.id">{{ c.name }}</option>
    </ng-container>
    <ng-template #loading>
      <option [value]="cityContext.cityId()">Loading cities…</option>
    </ng-template>
  </select>
</div>

