@use "variables" as *;
@use "mixins" as *;
@use './_title' as *;


/* ---------------- CircAction section ---------------- */
.circactions {
  display: inline-flex;
  margin: 0 auto;
  padding: 2%;
  flex-wrap: wrap;
  justify-content: center;

  div {
    clear: both;
    min-height: 300px;
    max-height: 26vh;
    min-width: 200px;
    max-width: 15%;
    margin: 30px 10px;
    border: unset;
    box-shadow: $strong-shadow;
  }

  h4 {
    font-size: x-large;
    color: white;
    padding: 5%;
    text-align: right;
    top: 40%;
    position: relative;
  }

  p {
    font-size: 28px;
    text-align: left;
    margin: 2% 5%;
    color: white;
    visibility: hidden;
    position: absolute;
    top: 10%;
    text-shadow: 1px 1px 2px rgb(150, 150, 150);
  }
}

#circular_action {
  min-height: 100vh;
  text-align: center;
  p {  text-shadow: 1px 1px 2px rgb(150, 150, 150); padding: 0 5%}
  h2 { padding-top: 10%;}
  span { text-shadow: 1px 1px 2px rgb(150, 150, 150);}
}

.card:hover { p { visibility: visible; } h4 { visibility: hidden; } }

#refuse  { background-color: $brand-deep; }
#reduce  { background-color: $brand-mid; }
#reuse   { background-color: $brand-teal; }
#repair  { background-color: #76a5afff; }
#remanu  { background-color: #a2c4c9ff; }
#recycle { background-color: $blue-gray; }


/* ---------------- CircAction animation ---------------- */
.rw-wrapper {
  width: 90%;
  position: relative;
  font-family: 'Bree Serif';
  padding: 10px;
  text-align: center;
}
.rw-sentence { margin: 0; }
.rw-words {
  display: inline;
  text-indent: 10px;
}
.rw-words-1 {
  span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: $brand-teal;
    -webkit-animation: rotateWord 8s linear infinite 1s;
    -ms-animation: rotateWord 8s linear infinite 1s;
    animation: rotateWord 8s linear infinite 1s;

    &:nth-child(2) { -webkit-animation-delay: 2s; -ms-animation-delay: 2s; animation-delay: 2s; color: #0c343d; }
    &:nth-child(3) { -webkit-animation-delay: 3s; -ms-animation-delay: 3s; animation-delay: 3s; color: #134f5c; }
    &:nth-child(4) { -webkit-animation-delay: 4s; -ms-animation-delay: 4s; animation-delay: 4s; color: #134f5c; }
    &:nth-child(5) { -webkit-animation-delay: 5s; -ms-animation-delay: 5s; animation-delay: 5s; color: #45818e; }
    &:nth-child(6) { -webkit-animation-delay: 6s; -ms-animation-delay: 6s; animation-delay: 6s; color: #76a5af; }
    &:nth-child(7) { -webkit-animation-delay: 7s; -ms-animation-delay: 7s; animation-delay: 7s; color: #a2c4c9; }
    &:nth-child(8) { -webkit-animation-delay: 8s; -ms-animation-delay: 8s; animation-delay: 8s; color: #d0e0e3; }
  }
}

@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
  17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@media screen and (max-width: 768px){ .rw-sentence { font-size: 18px; } }
@media screen and (max-width: 320px){ .rw-sentence { font-size: 9px; } }


/* ---------------- CircAtlas Demo ---------------- */
#circular_atlas_demo {
  padding: 60px 10% 0;
  height: 100vh;
  display: inline-block;
  align-content: space-evenly;
  background-color: #d0e0e3;

  h3 {
    width: 100%;
    text-align: center;
    font-size: 32px;
    padding-top: 2vh;
    text-shadow: 1px 1px 2px rgb(150, 150, 150);
  }

  a:hover { cursor: pointer; }

  img {
    height: 32px;
    transition: 0.4s;
    &:hover { transform: scale(0.9, 0.9); }
  }

  video {
    width: 100%;
  }
}
